booty{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;

    /* background-color: rgba(0, 94, 255, 0.121); */
    background-image: linear-gradient(rgba(0, 174, 255, 0.138),rgba(0, 153, 255, 0.114));
    margin-right: 20vw;
    /* padding-bottom: 20px; */

    max-height: 100vh;
}
html body{
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;

    max-height: 100vh;
}

#list{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;

    overflow-y: scroll;
    max-height: 100%;

    padding-bottom: 20px;
    padding-top: 30px;

}
#list::-webkit-scrollbar{display: none;}
.songDiv{
    font: 30px arial;
}
.songLink{

}

pltitle{
    font:20px arial;
    font-style: italic;
    background-color:blue;
    color:white;
    padding-top:10px;
}